<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>COVID-19 Home Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
      <!-- Our CSS -->
      <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
    </head>

    <body>

        <div class="dropdown">
            <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">Navigation
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="map">Map</a></li>     
            </ul>
        </div>   

        <div class="container">
            <div class="row">
            <div class="jumbotron text-center">
                <h1>COVID-19 Study..Can you Tell The Difference?</h1>
                <p1>Home Page</p1>
            </div>
            </div>   
        </div>
            
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
            <h2>Welcome to the COVID-19 Dashboard Project!</h2>
            <p1>Brought to you by Eltahir Gotar <a target="_blank" href="https://gotar1.github.io/">@gotar</a></p1><br><br>
            <p>The purpose of this project is building a dashboard and map of COVID-19 pandemic using updated data from CDC. <a class="btn btn-primary btn-lg" href="https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36"target="_blank" role="button">Raw Data</a></p><br> 
            <p>COVID-19 is a new virus and as such there is not enough data to do an in depth analysis.</p>
            <p>However as the virus continues to spread at an alarming rate throughout the United States and the world.</p>
            <p>we can study the collected infection data and study any trands and patterns about the rate of</p>
            <p>infection and recovery and compare States to figure out who is doing well and who is failing.</p><br>
            <p>We built an interactive dashboard for all US States and territories.</p>
            <p>It shows monthly average number of cases, averge death and death percentage, average recovery and recovery percentage.</p>
            <p>We built horizontal bar chart to show average cases and death numbers.</p>               
            <p>Line chart to show State curves with average cases numbers and death percent and a gauge chart for recovery percent.</p>
            <p>All stats are average numbers per month from start of pandemic till January 2021.</p><br>
            <p>Our analysis shows that, the death rate is going down despite increased new cases of infection.</p>
            <p>This could be attributed to medical professionals getting used to the virus and may be developing new</p>
            <p>protocols on how to treat COVID-19 patients and the effectiveness of different medications and medical procedures currently in use.</p><br>
            <p>NAVIGATION: Use the navigation button at the top/left to view the dashboard and map.</p>
            <p>IMPORTANT! All data used in this project were downloaded from CDC we page, click 'Raw Data button above to learn more</p>
            <p><a class="btn btn-primary btn-lg" href="dashboard"role="button">View Dashboard</a></p>
            </div>
        </div>
        
        <section class="reachme">
            <ul>
              <li><strong>All Inquiries Through Email: </strong><a target="_blank" href="mailto: eltahir.g@gmail.com/">Send Email</a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/eltahirgotar/">My linkedIn</a></li>
              <li><a target="_blank" href="https://github.com/gotar1">My GitHub</a></li>
            </ul>
        </section>
        <footer> © 2020 All Rights Reserved @ Eltahir Gotar</footer>
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>

    </body>
</html>