<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>COVID-19 Map</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
      <!-- Leaflet CSS -->
      <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/> -->

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
  </head>

  <body>
    <div class="dropdown">
      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">Navigation
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/">Home</a></li>
        <li><a href="dashboard">Dashboard</a></li>     
      </ul>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Coming soon</h1>
        </div>
      </div>
    </div>

    <!-- The div to hold our map -->
    <div id="myMap"></div>

    <section class="reachme">
      <ul>
        <li><strong>All Inquiries Through Email: </strong><a target="_blank" href="mailto: eltahir.g@gmail.com/">Send Email</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/eltahirgotar/">My linkedIn</a></li>
        <li><a target="_blank" href="https://github.com/gotar1">My GitHub</a></li>
      </ul>
    </section>
    <footer> © 2020 All Rights Reserved @ Eltahir Gotar</footer>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="../static/js/logic.js"></script>
  </body>
</html>